/*
    VPlayer styles
*/

div#vplayer-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100001;
    background-color: #333;
    opacity: 0.7;
    display: none;
    cursor: pointer;
}

#vplayer-modal{
    position: fixed;
    z-index: 100002;

    display: none;

    transition: width 1000ms, height 1000ms, left 1000ms, top 1000ms;

    background: url(images/ajax-loader.gif) center no-repeat #000;

}

#vplayer-video{
    width: 100%;
    height: 100%;

    background: transparent;
    transition: width 1000ms, height 1000ms, left 1000ms, top 1000ms;

    z-index: 100003;
}
#vplayer-video-mobile{
    display: none;
}


#vplayer-close-btn{
    position: absolute;
    display: inline-block;


    z-index: 100004;
    transition: width 1000ms, height 1000ms, left 1000ms, top 1000ms;
}